@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    font-family: 'Quicksand',sans-serif;
}

body {
    background-color: #f2f2f2;
}

.my-card {
    width: 50rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


@media only screen and (max-width: 850px) {
    .my-card {
        width: 80%;
    }
}